.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #ccc;
  .form-group {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    label {
      flex-basis: 20%;
      flex-grow: 1;
      font-size: 1.1em; 
      font-weight: bold;
    }
    input {
      flex-grow: 2;
      font-size: 1.1em; 
    }
  }
}

.panel {
  padding-top: 5em;
  display: flex;
  flex-grow: 3;
  justify-content: center;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px RGB(165, 165, 165);
  
  table {
    .logo {
      width: 140px;
      img {
        margin: 7px 19px 18px 0px;
        width: 125px;
      }
    } 

    .content {
      white-space: pre-wrap;
      padding: 0px 1px 0px 16px;
      width: 180px;
      border-left: 2px solid #E21837;
      table {
        margin-bottom: -2px;
      }

      tr td {
        font-family:georgia,serif;
      }

      tr.title td {
        font-weight: bold;
        color:RGB(29, 29, 29);
        font-size:11px;
      }
      tr.position {
        line-height: 1.1em;
      }
      tr.position td {
        white-space: pre-wrap;
        color:rgb(85,96,97);
        font-size:10px;
        font-style:italic;
      }

      tr.telephone td {
        font-weight: bold;
        color:RGB(126, 125, 125);
        font-size:9px;
        a {
          color:RGB(89, 87, 87);
          text-decoration: none;
        }
      }

      tr.email td {
        a {
          color:rgb(85,96,97);
          text-decoration:none;
          font-size:9px;
        }
      }

      tr.street td {
        color:rgb(85,96,97);
        font-size:9px;
      }

      tr.city td {
        color:rgb(85,96,97);
        font-size:9px;
      }

      tr.website td{
        font-size:9px;
        a {
          color:rgb(85,96,97);
          font-size:9px;
          text-decoration:none;
        }
      }
    }
    
    .ad a {
      padding-top: 0px;
      padding-bottom: 0px;
      img {
        float: left;
        width: 333px;
      }
    }
  }
}

table.small-icons {
  margin-top: 6px;
  tbody tr {
    height: auto;
  }
  tbody tr td {
    height: auto;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    span {
      font-family:georgia,serif;
      a {
        color:rgb(255,255,255);
        text-decoration:none;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
