.container {
  display: flex;
  width: 400px;
  height: auto;
  margin: auto;
  border: 1px solid #ccc;
  box-shadow: 1px;
}

.form {
  justify-content: center;
  .form-group {
    label {
      font-size: 1.1em; 
    }
    input {
      font-size: 1.1em; 
    }
  }
}
